nav {
  font-family: "Inter", sans-serif;
  font-size: 1.15rem;
  color: var(--text-color);
  z-index: 1000;
}

nav a {
  color: var(--link-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
