.nav {
  font-family: -apple-system, Helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
}

.nav a {
  color: var(--muted-text-color);
  text-decoration: none;
}

.nav a:hover {
  font-weight: bold;
  color: var(--muted-text-color);
  text-decoration: none;
}
