.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
  margin-bottom: 0;
}

.post-link {
  display: block;
  font-size: 24px;
  margin-top: 5px;
}

.post-list h3 {
  margin: 0;
  padding: 0;
}
