/* Light theme only */
:root {
  --background-color: #ffffff
  // --background-color: #fbf8f4;
  --text-color: rgba(0, 0, 0, 0.8);
  --hl-color: #ccc;
  --border-color: rgba(0, 0, 0, 0.2);
  --link-color: rgba(0, 0, 0, 0.8);
  --link-hover-color: rgba(0, 0, 0, 0.5);
  --muted-text-color: rgba(0, 0, 0, 0.6);
}