<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <link
      rel="icon"
      href="{{ '/assets/img/millennium-falcon-svgrepo-com.ico' | relative_url }}"
    />
    <title>{{ page.title }} | {{ site.title }}</title>
    <!-- <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.bak.css' | relative_url }}"
    /> -->
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
    <link rel="stylesheet" href="{{ "/assets/css/galleries.css" | prepend:
    site.baseurl }}">
  </head>
  <body>
    <div class="sticky">
      <nav>
        <a href="/">~</a> / {% if page.url != "/" %} {% if page.collection ==
        "posts" %}
        <!-- Custom breadcrumb for posts -->
        <a href="/posts/">Posts</a> / {{ page.title | capitalize }} 
        {% elsif page.layout == "gallery" %}
        <!-- Custom breadcrumb for gallery pages -->
        <a href="/gallery/">Gallery</a> / {{ page.title | capitalize }}
        {% else %}
        <!-- Use the page title for standalone pages -->
        {{ page.title | capitalize }} {% endif %} {% endif %}
        <button id="theme-toggle" style="float: right" type="button">
          <span class="d-block-light d-none"
            ><img
              class="icon"
              alt="moon"
              src="{{ '/assets/img/moon.png' | relative_url }}"
          /></span>
          <span class="d-block-dark d-none"
            ><img
              class="icon"
              alt="sun"
              src="{{ '/assets/img/sun.png' | relative_url }}"
          /></span>
        </button>
      </nav>
    </div>

    {{ content }}

    <footer>
      <span class="pull-left"
        >Credit: (<a href="https://evesdropper.dev/">Evelyn Koo</a>)</span
      >
      <span
        class="pull-right"
        title="Last Updated {{ site.time | date: '%Y-%m-%d %H:%M:%S %z' }}"
        >{{ site.time | date: '%Y' }} &copy; S. Mai (<a href="/contact"
          >Contact</a
        >) &nbsp;</span
      >
      &nbsp;
      <a href="{{ '/feed.xml' | relative_url }}"
        ><img
          class="icon"
          src="{{ '/assets/img/rss.png' | relative_url }}"
          alt="rss"
      /></a>
    </footer>
  </body>
</html>
