---
layout: default
---

<div class="tag-page wrap">
  {% include blog-quote.html %}

  <div id="tags">
    <ul id="tag-nav">
      {% assign all_tags = site.posts | map: 'tags' | join: ',' | split: ',' | uniq | sort %}
      {% for tag in all_tags %}
        {% if tag != "" %}
          <li><a href="/blog/tags/{{ tag | slugify }}/">{{ tag }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <h2>{{ page.tag }}</h2>

  <div id="posts" class="section">
    {% for post in site.posts %}
      {% if post.tags contains page.tag %}
        <div class="post-row">
          <p class="post-title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </p>
          <p class="post-date">{{ post.date | date: "%d %B %Y" }}</p>
        </div>
        {% if post.description %}
        <p class="post-subtitle">{{ post.description }}</p>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
